body {
  background-image:
    linear-gradient(rgba(4, 1, 8, 0.72), rgba(4, 1, 8, 0.72)),
    url(/background.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar-thumb {
  background: transparent;
}

body::-webkit-scrollbar-track {
  background: transparent;
}
